.icon-champion-full {
	background-image: url('/img/champions.png');
}

.icon-champion-large {
	@extend .icon-champion-full;
	height: 48px;
	width: 48px;
}

.icon-champion-small {
	@extend .icon-champion-full;
	background-size: 360px;
	height: 36px;
	width: 36px;
}

@import "sprite_scss/champions.scss";