.divisions {
	background-image: url('/img/divisions.png');
	background-repeat: no-repeat;
	background-size: 24px;
	margin: auto;
}

.division-master {
	@extend .divisions;
	height: 19px;
	min-width: 24px;
	background-position: 0px 0px;
}

.division-bronze {
	@extend .divisions;
	height: 19px;
	min-width: 24px;
	background-position: 0px -24px;
}

.division-challenger {
	@extend .divisions;
	height: 19px;
	min-width: 24px;
	background-position: 0px -48px;
}

.division-diamond {
	@extend .divisions;
	height: 19px;
	min-width: 24px;
	background-position: 0px -72px;
}

.division-gold {
	@extend .divisions;
	height: 19px;
	min-width: 24px;
	background-position: 0px -96px;
}

.division-platinum {
	@extend .divisions;
	height: 19px;
	min-width: 24px;
	background-position: 0px -120px;
}

.division-silver {
	@extend .divisions;
	height: 19px;
	min-width: 24px;
	background-position: 0px -144px;
}

.division-unranked {
	@extend .divisions;
	height: 19px;
	min-width: 24px;
	background-position: 0px -168px;
}