.notifications {
    width: 80%;
    text-align: center;
    margin: auto;

    .message-box {
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: #fcf8e3;
        border-color: #faebcc;
        color: #8a6d3b;
        margin-bottom: 5px;

        .message {
            font-weight: 400;
        }
    }
}

.search {
    text-align: center;

    .search-container {
        .clear-inputs {
            margin-top: -3px;
            margin-left: -4px;
        }

        .summoner-inputs {
            display: inline-flex;

            .summoner-input {
                margin-right: 5px;

                i {
                    margin-top: -24px;
                    margin-right: 6px;
                    float: right;
                }
            }

            .summoner-input-valid {
                border-color: lightgreen;
            }
            .summoner-input-invalid {
                border-color: red;
            }
        }
    }

    .summoner-table {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 66%;
        margin-right: auto;
        margin-left: auto;

        thead {
            background-color: $black;
            color: white;

            th {
                padding: 6px;
                font-size: 13px;
                text-align: center;
                font-weight: 400;
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid $darkgray;

                .top,
                .jungle,
                .middle,
                .support,
                .marksman {
                    padding: 0;
                    font-size: 9px;
                    width: 20px;
                }
                .top {
                    background-color: #DBAE5A;
                }
                .jungle {
                    background-color: #FF9100;
                }
                .middle {
                    background-color: #4A66C9;
                }
                .support {
                    background-color: #6BEEA2;
                }
                .marksman {
                    font-size: 7px;
                    background-color: #C73A3A;
                }

                .name {
                    width: 20%;
                }
                .recently-played,
                .best-performance {
                    width: 35%;

                    .no-stats {
                        margin-top: -6px;
                    }

                    .champion-list {
                        min-width: 262px;
                        list-style-type: none;
                        padding: 0;
                        margin-bottom: -6px;
                        text-align: center;

                        .champion-data {
                            display: inline-block;
                            font-size: 10px;

                            .wins {
                                color: green;
                            }

                            .losses {
                                color: red;
                            }
                        }
                    }
                }
                .img-link {
                    text-align: center;
                    width: 5%;

                    .icon {
                        width: 30px;
                    }
                }

                &:nth-child(2n) {
                    background-color: $lightgray;
                }
            }

            td {
                text-align: center;
                padding: 6px;

                &:first-child {
                    border-left: 1px solid $darkgray;
                }

                &:last-child {
                    border-right: 1px solid $darkgray;
                }
            }
        }
    }

    .parse-chat {
        line-height: 2px;
        margin-top: 20px;

        .chat-log {
            margin: 0 auto 5px auto;
            height: 100px;
            width: 30%;
        }
    }

    .commands {
        display: inline-flex;
        text-align: center;
        .share-url {
            width: 147px;
            margin-left: 5px;
        }
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    .search {

        .search-container {
            .summoner-inputs {
                margin: 0 auto 10px auto;
                display: block;
                width: 80%;

                .summoner-input {
                    margin-bottom: 5px;
                }
            }
        }

        .parse-chat {
            display: none;
        }

        .summoner-table {
            font-size: 14px;
        }
    }
}