.search {
    text-align: center;

    .summoner-inputs {
        i {
            position: absolute;
            margin-top: 6px;
            margin-left: -20px;
        }

        .summoner-input-valid {
            border-color: lightgreen;
        }
        .summoner-input-invalid {
            border-color: red;
        }
    }

    .summoner-table {
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 10px;
        align: center;
        width: 66%;
        margin-left: 17%;

        thead {
            background-color: $black;
            color: white;

            th {
                padding: 6px;
                font-size: 13px;
                text-align: center;
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid $darkgray;

                .name {
                    width: 20%;
                }
                .recently-played {
                    width: 35%;
                }
                .best-performance {
                    width: 35%;

                    .champion-list {
                        min-width: 262px;
                        list-style-type: none;
                        padding: 0;
                        margin-bottom: -6px;
                        text-align: center;

                        .champion-data {
                            display: inline-block;
                            font-size: 10px;

                            .wins {
                                color: green;
                            }

                            .losses {
                                color: red;
                            }
                        }
                    }
                }
                .img-link {
                    text-align: center;
                    width: 5%;

                    .icon {
                        width: 30px;
                    }
                }

                &:nth-child(2n) {
                    background-color: $lightgray;
                }
            }

            td {
                text-align: left;
                padding: 6px;

                &:first-child {
                    border-left: 1px solid $darkgray;
                }

                &:last-child {
                    border-right: 1px solid $darkgray;
                }
            }
        }

        
    }

    .parse-chat {
        textarea {
            margin-top: -8px;
            height: 100px;
            width: 30%;
        }

        button {
            line-height: 16px;
        }
    }
}