body {
	font-family: 'Montserrat', sans-serif;
}

.page-host {
    position: absolute;
    left: 0;
    right: 0;
    top: 56px;
    bottom: 50px;
    overflow-x: hidden;
    overflow-y: auto;
}

.region-selection {
	float: right;
	margin-top: 15px;
}

.navbar {
	.navigation-item {
		text-align: center;
	}

	.paypal {
		width: 75px;
		position: absolute;
		margin-left: 148px;
		margin-top: 14px;
	}
}

.footer {
	background-color: $footer-color;
	border-top: 1px solid $footer-border-color;
	text-align: center;
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 100%;

	.social-links {
		display: inline-flex;
		margin-top: 15px;

		.social-link-facebook {
			margin-right: 5px;
		}
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	.region-selection {
		height: 41px;
		float: none;
		text-align: center;
		padding: 6px 0 5px 0;
		margin-top: 0px;
	}

	.paypal {
		display: none;
	}

	.changetip_tipme_button {
		display: none;
	}

	.navbar {
		.navigation-item {
			border-bottom: 1px solid $darkgray;
		}
	}
/* Styles */
}