body {
	font-family: 'Montserrat', sans-serif;
}

.page-host {
    position: absolute;
    left: 0;
    right: 0;
    top: 56px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.region-selection {
	float: right;
	padding: 15px;
}

.navbar {
	.navigation-item {
		border-bottom: 1px solid $darkgray;
		text-align: center;
		&:first-child {
			display: none;
		}
	}
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
	.region-selection {
		height: 41px;
		float: none;
		text-align: center;
		padding: 6px 0 5px 0;
	}
/* Styles */
}