body {
	font-family: 'Montserrat', sans-serif;
}

.page-host {
    position: absolute;
    left: 0;
    right: 0;
    top: 56px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.region-selection {
	float: right;
	padding: 15px;
}

.navbar {
	.navigation-item {
		&:first-child {
			display: none;
		}
	}
}