$black: #414042;
$footer-color: #F8F8F8;
$footer-border-color: #e7e7e7;
$lightgray: #f9f9f9;
$darkgray: #dddddd;
$top-color: #DBAE5A;
$jungle-color: #FF9100;
$middle-color: #4A66C9;
$support-color: #6BEEA2;
$marksman-color: #C73A3A;