<div>
    <div class="search"> 
        <h2>Welcome to OptimLoL</h2>
        <div>Enter the Summoner Names of everyone in champion select:</div>

        <div class="summoner-inputs" data-bind="foreach: summonerInputs">
            <span>
                <input class='summoner-input' data-bind="value: summonerName, 
                                                        attr: {
                                                            placeholder: placeholder
                                                        }, 
                                                        css : {
                                                            'summoner-input-valid': status() === 'valid', 
                                                            'summoner-input-invalid': status() === 'invalid', 
                                                            'summoner-input': status() === 'unset'
                                                        }">
                <i data-bind="visible: status() === 'validating'" class="fa fa-spinner fa-spin"></i>
            </span>
        </div>

        <!-- ko if: validSummoners().length > 0 -->
        <table class="summoner-table">
            <thead>
                <th class="name">Name</th>
                <th class="last-played">Last Played</th>
                <th class="most-played">Most Played</th>
                <th class="lolking">LolKing</th>
                <th class="naopgg">op.gg</th>
            </thead>
            <tbody class="summoner-info" data-bind="foreach: validSummoners">
                <td data-bind="text: summonerName"></td>
                <td >N/A</td>
                <td >N/A</td>
                <td>
                    <div class="image-group-lolking">
                        <img class="icon" src="/img/lolking.png"/>
                        <a class="link" data-bind="attr: { href: lolKingUrl }">LolKing</a>
                    </div>
                </td>
                <td>
                    <div class="image-group">
                        <img class="icon" src="/img/naopgg.png"/>
                        <a class="link" data-bind="attr: { href: naOpGgUrl }">na.op.gg</a>
                    </div>
                </td>
            </tbody>
        </table>
        <!-- /ko -->

        <div class="parse-chat">
            <p>Or enter your chat logs below and we'll try to do the work for you!</p>
            <textarea class="chatlog" data-bind="value: chatText"></textarea><br>
            <button data-bind="click: parseChatForPlayers">Parse Chat Log</button>
        </div>
    </div>
</div>