<div>
    <div class="search">
        <h2>Welcome to OptimLoL</h2>
        <div>Enter the Summoner Names of everyone in champion select:</div>

        <div class="search-container">
            <div class="summoner-inputs" data-bind="foreach: summonerInputs">
                <div class="summoner-input">
                    <input class='form-control' data-bind="value: summonerName,
                                                            attr: {
                                                                placeholder: placeholder
                                                            },
                                                            css : {
                                                                'summoner-input-valid': status() === 'valid',
                                                                'summoner-input-invalid': status() === 'invalid',
                                                                'summoner-input': status() === 'unset'
                                                            }" maxlength="16">
                    <i data-bind="visible: status() === 'validating'" class="fa fa-spinner fa-spin"></i>
                </div>
            </div>
            <button class="btn btn-default clear-inputs" type="submit" data-bind="click: clearSummonerInputs">Clear</button>
        </div>

        <!-- ko if: validSummoners().length > 0 -->
        <div data-bind="summonerTable: { validSummoners: validSummoners }"></div>
        <!-- /ko -->

        <div class="parse-chat">
            <p>Or enter your chat logs below and we'll try to do the work for you!</p>
            <div>
                <textarea class="form-control chat-log" data-bind="value: chatText"></textarea>
            </div>
            <button class="btn btn-default" data-bind="click: parseChatForPlayers">Parse Chat Log</button>
        </div>
    </div>


</div>