.search {
    text-align: center;

    .summoner-inputs {
        .summoner-input-valid {
            border-color: lightgreen;
        }
        .summoner-input-invalid {
            border-color: red;
        }
    }

    .summoner-table {
        margin-top: 10px;
        margin-bottom: 10px;
        align: center;
        width: 50%;
        margin-left: 25%;

        th {
            text-align: center;
            width: 100px;
        }

        td {
            text-align: center;
        }
    }

    .parse-chat {
        textarea {
            margin-top: -8px;
            height: 100px;
            width: 30%;
        }

        button {
            line-height: 16px;
        }
    }
}