.search {
    text-align: center;

    .summoner-inputs {
        i {
            position: absolute;
            margin-top: 6px;
            margin-left: -20px;
        }

        .summoner-input-valid {
            border-color: lightgreen;
        }
        .summoner-input-invalid {
            border-color: red;
        }
    }

    .summoner-table {
        font-size: 15px;;
        margin-top: 10px;
        margin-bottom: 10px;
        align: center;
        width: 66%;
        margin-left: 17%;

        thead {
            background-color: $black;
            color: white;
        }

        tbody {
            tr:nth-child(2n) {
                background-color: $lightgray;
            }
        }

        th {
            padding: 6px;
            font-size: 13px;
            text-align: center;
            width: 100px;
        }

        tr {
            border-bottom: 1px solid $darkgray;
        }

        td {
            text-align: left;
            padding: 6px;
            &:first-child {
                border-left: 1px solid $darkgray;
            }

            &:last-child {
                border-right: 1px solid $darkgray;
            }
        }
    }

    .parse-chat {
        textarea {
            margin-top: -8px;
            height: 100px;
            width: 30%;
        }

        button {
            line-height: 16px;
        }
    }
}