<div>
    <div class="search"> 
        <h2>Welcome to OptimLoL</h2>
        <div>Enter the Summoner Names of everyone in champion select:</div>

        <div class="summoner-inputs" data-bind="foreach: summonerInputs">
            <input class='summoner-input' data-bind="value: summonerName, attr: {placeholder: placeholder}, css : {'summoner-input-valid': status() === 'valid', 'summoner-input-invalid': status() === 'invalid', 'summoner-input': status() === 'unset'}">
        </div>

        <!-- ko if: validSummoners().length > 0 -->
        <table class="summoner-table">
            <thead>
                <th class="name">Name</th>
                <th class="last-played">Last Played</th>
                <th class="most-played">Most Played</th>
                <th class="lolking">LolKing</th>
                <th class="naopgg">op.gg</th>
            </thead>
            <tbody class="summoner-info" data-bind="foreach: validSummoners">
                <td class="name" data-bind="text: summonerName"></td>
                <td class="last-played">N/A</td>
                <td class="most-played">N/A</td>
                <td class="lolking"><a data-bind="attr: { href: lolKingUrl }">LolKing</a></td>
                <td class="naopgg"><a data-bind="attr: { href: naOpGgUrl }">na.op.gg</a></td>
            </tbody>
        </table>
        <!-- /ko -->

        <div class="parse-chat">
            <p>Or enter your chat logs below and we'll try to do the work for you!</p>
            <textarea class="chatlog" data-bind="value: chatText"></textarea><br>
            <button data-bind="click: parseChatForPlayers">Parse Chat Log</button>
        </div>
    </div>
</div>