<div>
    <div class="search"> 
        <h2>Welcome to OptimLoL</h2>
        <span>Enter the Summoner Names of everyone in champion select:</span>

        <div data-bind="foreach: summoners">
        	<input data-bind="value: value, attr: {placeholder: placeholder}, css : { success: verified, failure: !verified() }">
        </div>

        <span>Or enter your chat logs below and we'll try to do the work for you!</span><br>
        <textarea class="chatlog"></textarea><br>

        <button data-bind="click: findPlayers">Find Players!</button>
    </div>
</div>